body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    color: tomato;
}

a:visited {
    color: red;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.title {
    font-size: 2em;
    font-weight: 700;
}

#timer {
    font-size: 2em;
}

.label {
    margin-top: 0.5em;
    font-size: 1em;
}

#global-timer {
    font-size: 1.5em;
}

.box {
    position: absolute;
    top: 5%;
    left: 5%;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
}